# VS Code
.vscode/

# Compiled C++ files
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.lib
*.pdb

# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Visual Studio
.vs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db